
* {
	margin:  0;
	padding:  0;
}

.con {
	margin:  20px;
	padding: 20px;
	background-color: #bdc3c7;
	border-radius: 15px;
	max-height: 900px;
	overflow-y: auto; 
}

p {
	display: inline;
}

.conversation {
	background-color: #e74c3c;
	padding: 10px;
	border-radius: 15px;
}

.conversation:hover {
	background-color: #c0392b;
}

/* .group {
	background-color: #9b59b6;
	padding: 10px;
	border-radius: 15px;
}

.group:hover {
	background-color: #8e44ad;
} */


.invite {
	background-color: #e67e22;
	padding: 10px;
	border-radius: 15px;
}

.other {
	display: block;
	background-color: #2ecc71;
	padding: 10px;
	width: 40%;
	border-radius: 15px;
}

.me {
	display: block;
	background-color: #3498db;
	padding: 10px;
	width: 40%;
	margin-left: 57%;
	border-radius: 15px;
}
